<a href="https://colab.research.google.com/github/seridem06/aluraONE_01/blob/master/Python_pandas_tratamiento_y_analisis_de__datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## multiopcionwa (ctrl + m + h)

Acerca del lenguaje Python, evalúe las siguientes afirmaciones:

1) Python es un lenguaje de programación de alto nivel, con soporte a múltiples paradigmas de programación

2) Python es un proyecto open source

3) Python es un lenguaje de programación interpretado

In [ ]:
import pandas as pd
pd.set_option('display.max_rows',15)

In [ ]:
dataset = pd.read_csv('alquiler.csv', sep=';')

In [ ]:
dataset

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0

In [ ]:
type(dataset)

pandas.core.frame.DataFrame

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [ ]:
dataset.head(32)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
27,Departamento,Comas,3,1,1,125,7000.0,2100.0,463.0
28,Departamento,San Miguel,1,0,0,48,750.0,772.0,25.0
29,Tienda/Salón,Lince,0,1,0,35,1300.0,950.0,NaN
30,Departamento,Ate,3,3,1,175,4200.0,1500.0,500.0
31,Casa,Lince,4,1,2,400,12000.0,NaN,NaN

## INFORMACIONES GENERALES DE BASES DE DATOS

In [ ]:
dataset.dtypes

Tipo              object
Distrito          object
Cuartos            int64
Vacantes           int64
Suites             int64
Area               int64
Valor            float64
Mantenimiento    float64
Impuesto         float64
dtype: object

In [ ]:
tipos_de_datos = pd.DataFrame(dataset.dtypes, columns =['tipos de datos'])

In [ ]:
tipos_de_datos.columns.name = 'Variables'

In [ ]:
tipos_de_datos

Variables     tipos de datos
Tipo                  object
Distrito              object
Cuartos                int64
Vacantes               int64
Suites                 int64
Area                   int64
Valor                float64
Mantenimiento        float64
Impuesto             float64

In [ ]:
dataset.shape

(32960, 9)

In [ ]:
dataset.shape[0]

32960

In [ ]:
dataset.shape[1]

9

In [ ]:
print('la base de datos muestra {} registros (inmnuebles)y {} variables'.format(dataset.shape[0],dataset.shape[1]))

la base de datos muestra 32960 registros (inmnuebles)y 9 variables

In [ ]:
import pandas as pd

In [ ]:
json = open('datos/alquiler.json')
print(json.read())

[{"Tipo":"Habitación","Distrito":"San Borja","Cuartos":1,"Vacantes":0,"Suites":0,"Area":40,"Valor":1700.0,"Mantenimiento":500.0,"Impuesto":60.0},
{"Tipo":"Casa","Distrito":"Lurigancho","Cuartos":2,"Vacantes":0,"Suites":1,"Area":100,"Valor":7000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Ate","Cuartos":0,"Vacantes":4,"Suites":0,"Area":150,"Valor":5200.0,"Mantenimiento":4020.0,"Impuesto":1111.0},
{"Tipo":"Departamento","Distrito":"Pachacámac","Cuartos":1,"Vacantes":0,"Suites":0,"Area":15,"Valor":800.0,"Mantenimiento":390.0,"Impuesto":20.0},
{"Tipo":"Departamento","Distrito":"Ate","Cuartos":1,"Vacantes":0,"Suites":0,"Area":48,"Valor":800.0,"Mantenimiento":230.0,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Barranco","Cuartos":3,"Vacantes":1,"Suites":0,"Area":70,"Valor":1200.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Comas","Cuartos":2,"Vacantes":0,"Suites":0,"Area":50,"Valor":1300.0,"Mantenimiento":301.0,"Impuesto":17.0},
{"Tipo":"Casa en condominio","Distrito":"Ate","Cuartos":5,"Vacantes":4,"Suites":5,"Area":750,"Valor":22000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Casa en condominio","Distrito":"El Agustino","Cuartos":2,"Vacantes":2,"Suites":0,"Area":65,"Valor":1000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Pachacámac","Cuartos":0,"Vacantes":3,"Suites":0,"Area":695,"Valor":35000.0,"Mantenimiento":19193.0,"Impuesto":3030.0}]

In [ ]:
df_json = pd.read_json('datos/alquiler.json')
df_json

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [ ]:
txt = open('datos/alquiler.txt')
print(txt.read())

Tipo	Distrito	Cuartos	Vacantes	Suites	Area	Valor	Mantenimiento	Impuesto
Habitación	San Borja	1	0	0	40	1700	500	60
Casa	Lurigancho	2	0	1	100	7000
Local comercial	Ate	0	4	0	150	5200	4020	1111
Departamento	Pachacámac	1	0	0	15	800	390	20
Departamento	Ate	1	0	0	48	800	230
Departamento	Barranco	3	1	0	70	1200
Departamento	Comas	2	0	0	50	1300	301	17
Casa en condominio	Ate	5	4	5	750	22000
Casa en condominio	El Agustino	2	2	0	65	1000
Local comercial	Pachacámac	0	3	0	695	35000	19193	3030

In [ ]:
df_txt = pd.read_table('datos/alquiler.txt')
df_txt

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [ ]:
df_xlsx = pd.read_excel('datos/alquiler.xlsx')
df_xlsx

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [ ]:
df_html = pd.read_html('datos/datos_html_1.html')
df_html[0]

,Año,Campeón,Subcampeón,Sede
0,2018,Francia,Croacia,Rusia
1,2014,Alemania,Argentina,Brasil
2,2010,España,Holanda,Sudáfrica
3,2006,Italia,Francia,Alemania
4,2002,Brasil,Alemania,Corea S. y Japón
5,1998,Francia,Brasil,Francia
6,1994,Brasil,Italia,Estados Unidos
7,1990,Alemania,Argentina,Italia
8,1986,Argentina,Alemania (RFA),México
9,1982,Italia,Alemania (RFA),España
10,1978,Argentina,Holanda,Argentina
11,1974,Alemania (RFA),Holanda,Alemania (RFA)
12,1970,Brasil,Italia,México
13,1966,Inglaterra,Alemania (RFA),Inglaterra
14,1962,Brasil,Checoslovaquia,Chile
15,1958,Brasil,Suecia,Suecia
16,1954,Alemania (RFA),Hungría,Suiza
17,1950,Uruguay,Brasil,Brasil
18,1946,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
19,1942,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
20,1938,Italia,Hungría,Francia
21,1934,Italia,Checoslovaquia,Italia
22,1930,Uruguay,Argentina,Uruguay

In [ ]:
df_xlsx = pd.read_excel('datos/alquiler.xlsx')
df_xlsx

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

Pandas ofrece un conjunto muy amplio de funciones que posibilitan la obtención de datos a partir de diferentes formatos de archivos. Estas funciones importan datos tabulares a partir de archivos en diferentes formatos (csv, xlsx, txt, etc.) para dentro de estructuras de datos de Pandas (Series y DataFrames). En base a esto, evalúe las siguientes afirmaciones y seleccione las correctas:

Cuando usamos la función read_html() en una URL o archivo HTML que contenga más de una tabla, cada una es convertida en un DataFrame y todas se almacenan en una lista de Python, es decir, la función read_html() devuelve una lista de DataFrames.

Cuando se usa la función read_html(), es posible pasar como parámetro de entrada (fuente de los datos) una URL.

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('alquiler.csv', sep=';')

In [ ]:
dataset.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
dataset.Tipo

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [ ]:
tipo_de_inmueble = dataset.Tipo

In [ ]:
type(tipo_de_inmueble)

pandas.core.series.Series

In [ ]:
tipo_de_inmueble.drop_duplicates()

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

In [ ]:
tipo_de_inmueble

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [ ]:
tipo_de_inmueble.drop_duplicates(inplace = True)

In [ ]:
tipo_de_inmueble

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

# ORGANIZANDO LA VISUALIZACIÓN

In [ ]:
tipo_de_inmueble.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [ ]:
type(tipo_de_inmueble)

pandas.core.series.Series

In [ ]:
tipo_de_inmueble =pd.DataFrame(tipo_de_inmueble)
tipo_de_inmueble

                             Tipo
0                      Habitación
1                            Casa
2                 Local comercial
3                    Departamento
7              Casa en condominio
16              Edificio completo
17                           Flat
29                   Tienda/Salón
80                        Almacén
83                 Casa comercial
117                 Casa de villa
159                       Terreno
207                       Cochera
347                          Loft
589    Tienda en Centro Comercial
2157                       Chacra
3354        Terreno em condominio
4379                      Oficina
4721                       Chalet
6983                       Studio
9687                        Hotel
23614            Local industrial

In [ ]:
type(tipo_de_inmueble)

pandas.core.frame.DataFrame

In [ ]:
tipo_de_inmueble.shape[0]

22

In [ ]:
range(tipo_de_inmueble.shape[0])

range(0, 22)

In [ ]:
for i in range(tipo_de_inmueble.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
tipo_de_inmueble.index = range(tipo_de_inmueble.shape[0])

In [ ]:
tipo_de_inmueble.index

RangeIndex(start=0, stop=22, step=1)

In [ ]:
tipo_de_inmueble

                          Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial

In [ ]:
tipo_de_inmueble.columns.name = 'Id'

In [ ]:
tipo_de_inmueble

Id                        Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial

In [ ]:
import pandas as pd

##SERIES

In [ ]:
data = [1,2,3,4,5]

In [ ]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
index = ['Linea ' + str(i) for i in range(5)]
index

['Linea 0', 'Linea 1', 'Linea 2', 'Linea 3', 'Linea 4']

In [ ]:
s = pd.Series(data = data, index = index)
s

Linea 0    1
Linea 1    2
Linea 2    3
Linea 3    4
Linea 4    5
dtype: int64

In [ ]:
data = {'Linea '+ str(i) : i+1 for i in range(5)}
data

{'Linea 0': 1, 'Linea 1': 2, 'Linea 2': 3, 'Linea 3': 4, 'Linea 4': 5}

In [ ]:
s = pd.Series(data)
s

Linea 0    1
Linea 1    2
Linea 2    3
Linea 3    4
Linea 4    5
dtype: int64

In [ ]:
s1 = s + 2
s1

Linea 0    3
Linea 1    4
Linea 2    5
Linea 3    6
Linea 4    7
dtype: int64

#DATA FRAME

In [ ]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
index = ['Linea '+ str(i) for i in range(3)]
index

['Linea 0', 'Linea 1', 'Linea 2']

In [ ]:
df2 = pd.DataFrame(data = data, index = index)
df2

         0  1  2
Linea 0  1  2  3
Linea 1  4  5  6
Linea 2  7  8  9

In [ ]:
columns = ['columna '+ str(i) for i in range(3)]
columns

['columna 0', 'columna 1', 'columna 2']

In [ ]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

         columna 0  columna 1  columna 2
Linea 0          1          2          3
Linea 1          4          5          6
Linea 2          7          8          9

In [ ]:
data ={'Columna0':{'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columna1':{'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
  'Columna2':{'Linea0': 3, 'Linea1': 6, 'Linea2': 9}
}
data

{'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columna1': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
 'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}

In [ ]:
df2 = pd.DataFrame(data)
df2

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [ ]:
data = [(1,2,3),(4,5,6),(7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
df3 = pd.DataFrame(data, index , columns = columns)
df3

         columna 0  columna 1  columna 2
Linea 0          1          2          3
Linea 1          4          5          6
Linea 2          7          8          9

In [ ]:
df1

         columna 0  columna 1  columna 2
Linea 0          1          2          3
Linea 1          4          5          6
Linea 2          7          8          9

In [ ]:
df1[df1 > 0] = 'A'
df1

        columna 0 columna 1 columna 2
Linea 0         A         A         A
Linea 1         A         A         A
Linea 2         A         A         A

In [ ]:
df2[df2 > 0] = 'B'
df2

         0  1  2
Linea 0  B  B  B
Linea 1  B  B  B
Linea 2  B  B  B

In [ ]:
df3[df3 > 0] = 'C'
df3

        columna 0 columna 1 columna 2
Linea 0         C         C         C
Linea 1         C         C         C
Linea 2         C         C         C

In [ ]:
df4 = pd.concat([df1, df2, df3])
df4

        columna 0 columna 1 columna 2  Columna0  Columna1  Columna2
Linea 0         A         A         A       NaN       NaN       NaN
Linea 1         A         A         A       NaN       NaN       NaN
Linea 2         A         A         A       NaN       NaN       NaN
Linea0        NaN       NaN       NaN       1.0       2.0       3.0
Linea1        NaN       NaN       NaN       4.0       5.0       6.0
Linea2        NaN       NaN       NaN       7.0       8.0       9.0
Linea 0         C         C         C       NaN       NaN       NaN
Linea 1         C         C         C       NaN       NaN       NaN
Linea 2         C         C         C       NaN       NaN       NaN